@import "tailwindcss";

@layer utilities {
    .home-clip-left {
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    .home-clip-right {
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
    }
}

@theme {
    --color-text: gray;
    --color-background: #363636;
    --color-primary: #b197f9;
    --color-secondary: #d7d7d7;
    --color-accent: #581f91;
}

.fancy-gradient {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.button-invite {
    font-size: xx-large;
    color: azure;
    cursor: pointer;
    border: solid var(--color-accent) 4px;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 24px;
    row-gap: 2.5%;
    transition: 0.3s;
}

.button {
    font-size: xx-large;
    color: var(--color-text);
    cursor: pointer;
    border: solid var(--color-accent) 4px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 24px;

    transition: 0.3s;
}

.button:hover {
    background-color: var(--color-primary);
    color: var(--color-background)
}

.button-invite:hover {
    background-color: var(--color-primary);
    color: var(--color-background)
}

.custom-drop-shadow {
    filter: drop-shadow(-28px 25px 36px #000000);
}

.custom-header-strong {
    font-size: 48px;
    color: azure;
}